In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from IPython.display import Markdown

# Q9.1
Trace metals in drinking water affect the flavor of the water, and un‐usually
high concentration can pose a health hazard. Table E9.1 shows trace‐metal
concentrations (zinc, in mg/L) for both surface water and bottom water at six
different river locations. Our aim is to see if surface water concentration (x) is
predictive of bottom water concentration (y).

(a) Draw a scatter diagram to show a possible association between the concentrations
and check to see if a linear model is justified.

(b) Estimate the regression parameters, the predicted bottom water concentration
for a location with a surface water concentration of 0.5 mg/L, and draw the
regression line on the same graph with the scatter diagram.

(c) Test to see if the two concentrations are independent; state your hypotheses
and choice of test size.

(d) Calculate the coefficient of determination and provide your interpretation.

In [2]:
index = [1, 2, 3, 4, 5, 6]
columns = ['Bottom', 'Surface']

data = [
    [0.430, 0.415],
    [0.266, 0.238],
    [0.567, 0.390],
    [0.531, 0.410],
    [0.707, 0.605],
    [0.716, 0.609],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Location')

df

          Bottom  Surface
Location
1          0.430    0.415
2          0.266    0.238
3          0.567    0.390
4          0.531    0.410
5          0.707    0.605
6          0.716    0.609

## A9.1

# Q9.4
Refer to the data in Exercise 9.3, but in the context of a multiple regression
problem with two independent variables: the net food supply (x1 = x) and its
square (x2 = x2).

(a) Taken collectively, do the two independent variables contribute significantly
to the variation in the number of infant deaths?

(b) Calculate the coefficient of multiple determination and provide your
interpretation.

(c) Fit the multiple regression model to obtain estimates of individual regression
coefficients and their standard errors, and draw your conclusions:
especially, the conditional contribution of the quadratic term.

In [3]:
index = [
    'Argentina', 'Australia', 'Austria', 'Belgium', 'Burma', 'Canada', 'Chile',
    'Cuba', 'Egypt', 'France', 'Germany', 'Iceland', 'India', 'Ireland', 'Italy', 
    'Japan', 'Netherlands', 'New Zealand', 'Sweden', 'U.K.', 'U.S.', 'Uruguay'
]

columns = ['x', 'y']

data = [
    [2730, 98.8],
    [3300, 39.1],
    [2990, 87.4],
    [3000, 83.1],
    [1080, 202.1],
    [3070, 67.4],
    [2240, 240.8],
    [2610, 116.8],
    [2450, 162.9],
    [2880, 66.1],
    [2960, 63.3],
    [3160, 42.4],
    [1970, 161.6],
    [3390, 69.6],
    [2510, 102.7],
    [2180, 60.6],
    [3010, 37.4],
    [3260, 32.2],
    [3210, 43.3],
    [3100, 55.3],
    [3150, 53.2],
    [2380, 94.1],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Location')

print(f"num rows = {df.shape[0]}")
df.head()

num rows = 22

              x      y
Location
Argentina  2730   98.8
Australia  3300   39.1
Austria    2990   87.4
Belgium    3000   83.1
Burma      1080  202.1

## A9.4

# Q9.6
Refer to the data in Exercise 9.5, but in the context of a multiple regression
problem with three independent variables: height, gender, and the product of
height with gender.

(a) Fit the multiple regression model to obtain estimates of individual regression
coefficients and their standard errors. Draw your conclusions
concerning the conditional contribution of each factor.

(b) Within the context of the multiple regression model in part (a), does gender
alter the effect of height on weight?

(c) Taken collectively, do the three independent variables contribute significantly
to the variation in weights?

(d) Calculate the coefficient of multiple determination and provide your
interpretation.

In [4]:
columns = [
    ['Men', 'Men', 'Women', 'Women'],
    ['Height', 'Weight', 'Height', 'Weight']
]

data = np.array([
    [162, 168, 174, 176, 180, 180, 182, 184, 186, 186],
    [65, 65, 84, 63, 75, 76, 82, 65, 80, 81],
    [152, 156, 158, 160, 162, 162, 164, 164, 166, 166],
    [52, 50, 47, 48, 52, 55, 55, 56, 60, 60],
]).T

df = pd.DataFrame(data=data, columns=columns)

df

     Men         Women
  Height Weight Height Weight
0    162     65    152     52
1    168     65    156     50
2    174     84    158     47
3    176     63    160     48
4    180     75    162     52
5    180     76    162     55
6    182     82    164     55
7    184     65    164     56
8    186     80    166     60
9    186     81    166     60

## A9.6

# Q9.7
The Pearson Correlation Coefficient (r) between two variables X and Y can be
expressed in several equivalent forms; one of which is

$\Large{r(X,Y) = \frac{1}{n}\sum\limits_{i=1}^n \bigg(\frac{x_i - \bar{x}}{s_x}\bigg) \bigg(\frac{y_i - \bar{y}}{s_y}\bigg)}$

where $\bar{x}$ ($\bar{y}$) is the sample mean and $s_x$ ($s_y$) is the sample standard deviation of
X (Y), respectively.

(a) If a and c are two positive constants and b and d are any two constants,
prove that:

$r(aX+b,cY+d) = r(X,Y)$

(b) Is the result in (a) still true if we do not assume that a and c are positive?

(c) For a group of men, if the correlation coefficient between weight in pounds
and height in inches is r = 0.29, what is the value of that correlation coefficient
if weight is measured in kilograms and height in centimeters? Explain
your answer.

(d) Body temperature (BT) can be measured at many locations in your body.
Suppose, for a certain group of children with fever, the correlation coefficient
between oral BT and rectal BT is r = 0.91 when BT is measured in
Fahrenheit (°F); what is the value of that correlation

## A9.7

# Q9.8
Let X and Y be two variables in a study; the regression line that can be used to
predict Y from X values is:

$Predicted\ \hat{y} = b_0+b_1x$

The estimated intercept and slope can be expressed in several equivalent forms,
one of which is

$b_1 = r \frac{s_y}{s_x}$  
$b_0 = \bar{y} - b_1\bar{x}$

where $\bar{x}$ is the sample mean and $s_x$ is the sample standard deviation of X.

(a) If a and c are two positive constants and b and d are any two constants,
consider the data transformation:

$U=aX+b$  
$V=cY+d$

and denote the estimated intercept and slope of the regression line predicting
V from U as $B_0$ and $B_1$. Express $B_0$ and $B_1$ as functions of a, b, c, d, and
$b_0$ and $b_1$.

(b) What would be the results of (a) in the special case that a = c and b =
d = 0? What would be the results of (a) in the special case that a = 1 and
b = d = 0?

(c) During some operations, it would be more convenient to measure blood
pressure (BP) from the patient’s leg than from a cuff on the arm. Let X =
leg BP and Y = arm BP, and let the results for a group under going orthopedic
surgeries be $b_0$ = 9.052 and $b_1$ = 0.761 when BP is measured in millimeters
of mercury (Hg). What would these results be if BP is measured in
centimeters of Hg? Explain your answer.

(d) The Apgar score was devised in 1952 by Dr. Virginia Apgar as a simple
method to quickly assess the health of the newborn. Let X = Apgar score
and Y= birth weight and let the results for a group of newborns be $b_0$ =
1.306 and $b_1$ = 0.205 when birth weight is measured in kilograms. What
would these results be if birth weight is measured in pounds? Explain your
answer.

## A9.8

# Q9.9
et X and Y be two variables in a study.

(a) Investigator #1 is interested in predicting Y from X, and fits and computes
a regression line for this purpose. Investigator #2 is interested in predicting
X from Y, and computes his regression line for that purpose (note that in the
real problem of “parallel‐line” bioassays, with X = log(dose) and Y =
response, we have both of these steps – the first for the standard preparation
and the second for the test preparation). Are these two regression lines
the same? If so, why? If not, compute the ratio and the product of the two
slopes as function of standard statistics.

(b) Let X = height and Y = weight; we have for a group of 409 men:

$\sum{x}=28359\ inches$  
$\sum{y}=64938\ pounds$  
$\sum{x^2}=1969716\ inches^2$  
$\sum{y^2}=10517079\ pounds^2$  
$\sum{xy}=4513810\ (inch)(pound)$  

(i) Calculate the coefficient of correlation.  
(ii) Calculate the slopes, their product, and the ratio of slopes for the two
regressions in question (a).

## A9.9

# Q9.10
Let X and Y be two variables in a study; the regression line that can be used to
predict Y from X values is:

$Predicted\ \hat{y} = b_0+b_1x$

so that the “error” of the prediction is:

$Error = y-\hat{y}$  
$e = y-(b_0+b_1x)$

(a) From the sum of squared errors:

$S=\sum{e^2}$  
$S=\sum{[y-(b_0+b_1x)]^2}$

Differentiate S with respect to $b_0$, and then separately with respect to $b_1$,
to derive the two “normal equations.”

(b) Use the two normal equations in (a) to prove that (i) the average error is
zero, and (ii) the errors of prediction and the values of the predictor are
uncorrelated [the coefficient of correlation is zero, r(e,X) = 0].

(c) Recall that if a, b, c, and d are constants then r(aX + b,cY + d) = r(X,Y). Use
this to show that the errors of prediction and the predicted values of the
response are uncorrelated [the coefficient of correlation is zero, $r(\hat{y},e)$ = 0].

## A9.10

# Q9.11
From a sample of n = 15 readings on X = traffic volume (cars per hour) and Y =
carbon monoxide concentration (PPM) taken at certain metropolitan air quality
sampling sites, we have these statistics:

$\sum{x}=3550$  
$\sum{y}=167.8$  
$\sum{x^2}=974450$  
$\sum{y^2}=1915.36$  
$\sum{xy}=41945$

(a) Compute the sample correlation coefficient r.

(b) Test for $H_0: \rho = 0$ at the 0.05 level of significance and state your conclusion
in context of this problem ($\rho$ is the population coefficient of correlation).

## A9.11

# Q9.12
Consider the regression line/model without intercept, $\hat{y} = bx$.

(a) Minimize $S = \sum(y–bx)^2$ to verify that the estimated slope of the regression
line for predicting Y from X is given by $b_1 = Σxy/Σx^2$.

(b) Consider another alternative estimate of the slope, the ratio of the sample
means, $b_2 = Σy/Σx$. Show that if var(Y) is constant then var($b_1$)≤var($b_2$).
[However, if the variance var(Y) is proportional to x, var($b_2$)≤var($b_1$); an
example of this situation would occur in a radioactivity counting experiment
where the same material is observed for replicate periods of different
lengths; counts are distributed as Poisson].

## A9.12

# Q9.13
The data in Table E9.13 show the consumption of alcohol (X, liters per year
per person, 14 years or older) and the death rate from cirrhosis, a liver disease
(Y, death per 100 000 population) in 15 countries (each country is an observation
unit).

(a) Draw a scatter diagram to show the association, if any, between these two
variables; can you draw any conclusion/observation without doing any
calculation?

(b) Calculate the coefficient of correlation and its 95% confidence interval
using Fisher’s transformation; then state your interpretation.

(c) Form the regression line by calculating the estimated intercept and slope;
if the model holds, what would be the death rate from cirrhosis for a
country with alcohol consumption rate of 11.0 liters per year per person?

(d) What fraction of the total variability of Y is explained by its relationship to
X? Form the ANOVA Table.

In [5]:
index = [
    'France', 'Italy', 'Germany', 'Australia', 'Belgium', 'USA', 'Canada', 'England',
    'Sweden', 'Japan', 'Netherlands', 'Ireland', 'Norway', 'Finland', 'Ireal', 'Total'
]

columns = ['Alcohol Consumption', 'Death Rate from Cirrhosis', 'x²', 'y²', 'xy']

data = [
    [24.7, 46.1, 610.09, 2125.21, 1138.67],
    [15.2, 23.6, 231.04, 556.96, 358.72],
    [12.3, 23.7, 151.29, 561.69, 291.51],
    [10.9, 7.0, 118.81, 49.00, 76.30],
    [10.8, 12.3, 116.64, 151.29, 132.84],
    [9.9, 14.2, 98.01, 201.64, 140.58],
    [8.3, 7.4, 68.89, 54.76, 61.42],
    [7.2, 3.0, 51.84, 9.00, 21.60],
    [6.6, 7.2, 43.56, 51.84, 47.52],
    [5.8, 10.6, 33.64, 112.36, 61.48],
    [5.7, 3.7, 32.49, 13.69, 21.09],
    [5.6, 3.4, 31.36, 11.56, 19.04],
    [4.2, 4.3, 17.64, 18.49, 18.06],
    [3.9, 3.6, 15.21, 12.96, 14.04],
    [3.1, 5.4, 9.61, 29.16, 16.74],
    [134.2, 175.5, 1630.12, 3959.61, 2419.61],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Country')

df

,Alcohol Consumption,Death Rate from Cirrhosis,x²,y²,xy
Country,,,,,
France,24.7,46.1,610.09,2125.21,1138.67
Italy,15.2,23.6,231.04,556.96,358.72
Germany,12.3,23.7,151.29,561.69,291.51
Australia,10.9,7.0,118.81,49.00,76.30
Belgium,10.8,12.3,116.64,151.29,132.84
USA,9.9,14.2,98.01,201.64,140.58
Canada,8.3,7.4,68.89,54.76,61.42
England,7.2,3.0,51.84,9.00,21.60
Sweden,6.6,7.2,43.56,51.84,47.52
Japan,5.8,10.6,33.64,112.36,61.48
Netherlands,5.7,3.7,32.49,13.69,21.09
Ireland,5.6,3.4,31.36,11.56,19.04
Norway,4.2,4.3,17.64,18.49,18.06
Finland,3.9,3.6,15.21,12.96,14.04
Ireal,3.1,5.4,9.61,29.16,16.74
Total,134.2,175.5,1630.12,3959.61,2419.61

## A9.13

# Q9.18
The purpose of this study was to examine the data for 44 physicians working
for an emergency department at a major hospital so as to determine which of a
number of factors are related to the number of complaints (X) received during
the previous year. In addition to the number of complaints, data available consist
of the number of visits – which serves as the “size” for the observation unit,
the physician – and four other factors under investigation. Table E2.34 (reproduced
below as Table E9.18) presents the complete data set. For each of the 44
physicians there are two continuous explanatory factors, the revenue (dollars
per hour) and workload at the emergency service (hours) and two binary variables,
sex (female/male) and residency training in emergency services (“Rcy”,
no/yes). Divide the number of complaints by the number of visits and use this
ratio (number of complaints per visit) as the primary outcome or dependent
variable Y. Separately for each of the two continuous explanatory factors, the
revenue (dollars per hour) and workload at the emergency service (hours):

(a) Draw a scatter diagram to show a possible association with the number of
complaints per visit and check to see if a linear model is justified.

(b) Estimate the regression parameters, the predicted number of complaints
per visit for a physician having the (sample) mean level of the explanatory
factor, and draw the regression line on the same graph with the scatter
diagram.

(c) Test to see if the factor and the number of complaints per visit are
independent; state your hypothesis and your choice of the test size.

(d) Calculate the coefficient of determination and provide your interpretation.

In [6]:
df = pd.read_csv('assets/physician_complaints.txt', sep=' & ', engine='python')

print(f"df num rows: {df.shape[0]}")
df.head()

df num rows: 44

   NVisits  Complaint Residency Gender  Revenue    Hours
0     2014          2         Y      F   263.03  1287.25
1     3091          3         N      M   334.94  1588.00
2      879          1         Y      M   206.42   705.25
3     1780          1         N      M   226.32  1005.50
4     3646         11         N      M   288.91  1667.25

## A9.18

# Q9.19
Refer to the data in Exercise 9.18 but consider all four explanatory factors and
the product residency training by workload simultaneously.

(a) Fit the multiple regression model to obtain estimates of individual regression
coefficients and their standard errors. Draw your conclusions concerning
the conditional contribution of each factor.

(b) Within the context of the multiple regression model in (a), does the residency
training alter the effect of workload on the number of complaints per visit?

(c) Taken collectively, do the five independent variables contribute significantly
to the variation in log survival times?

(d) Calculate the coefficient

## A9.19

# Q9.20
There are two measures of the maximum amount of air that can be exhaled after
a maximum inhalation. One is the “forced expiratory volume” – or FEV, the
forced expiratory volume in the first second is the FEV1 (also called forced
vital capacity); the other “slow expiratory volume,” or briefly the “vital
capacity” (VC). They are measured using spirometry (meaning the measuring
of breath). Spirometry is the most common of the pulmonary function tests
measuring lung function, specifically the measurement of the amount (volume)
and/or speed (flow) of air that can be inhaled and exhaled. The difference between
VC and the total lung capacity depends on the general condition of
lung tissue. The FEV is lower than the VC either in normal individuals or in
obstructive patients; the level of difference increases with the degree of obstruction.
Table E9.20 shows data observed from 10 hospitalized patients.

(a) Fit the regression model of Y on $X_1$ and $X_2$ and interpret the results (values
of the estimated regression coefficients).

(b) Calculate the coefficient multiple determination and interpret the result.

(c) Taken collectively, do total lung capacity and vital capacity contribute significantly
to the prediction of forced expiratory volume?

(d) Does total lung capacity have any value added to the explanation of the
variation in forced expiratory volume over and above that achieved by vital
capacity? (i.e. Test whether $X_2$ can be dropped from the regression model
given that $X_1$ is retained.)

(e) Perform a stepwise regression and explain the results.

## A9.20

# Q9.21
Much research has been devoted to the etiology of hypertension. One general
problem is to determine to what extent hypertension is a genetic phenomenon,
whether we could explain variation in blood pressure among children from the
blood pressures of their parents, especially the mothers. Table E9.21 shows
data observed from 20 families with systolic blood pressures from the mother,
father, and the first‐born child.

(a) We would expect from genetic principles that the correlation between the
mothers’s SBP and the child’s SBP exists; test this expectation at the level
of 0.05.

(b) Fit the regression model of Y on $X_1$ and $X_2$ and interpret the results (values
of the estimated regression coefficients).

(c) Calculate the coefficient of multiple determination and interpret the result.

(d) Taken collectively, do blood pressures of the parents contribute significantly
to the prediction of their first‐born child’s blood pressure?

(e) Does the father’s SBP have any value added to the explanation of the variation
in first‐born children blood pressures over and above that achieved by
mother’s SBP? (i.e. Test whether $X_2$ can be dropped from the regression
model given that $X_1$ is retained.)

In [7]:
columns = ['X₁, Mother SBP', 'X₂, Father SBP', 'Y, Child SBP']

data = [
    [130.0, 140.0, 90.0],
    [125.0, 120.0, 85.0],
    [140.0, 180.0, 120.0],
    [110.0, 150.0, 100.0],
    [145.0, 175.0, 105.0],
    [160.0, 120.0, 100.0],
    [120.0, 145.0, 110.0],
    [180.0, 160.0, 140.0],
    [120.0, 190.0, 115.0],
    [130.0, 135.0, 105.0],
    [125, 150.0, 100],
    [110, 125.0, 80],
    [90, 140.0, 70],
    [120, 170.0, 115],
    [150, 150.0, 90],
    [145, 155.0, 90],
    [130, 160.0, 115],
    [155, 115.0, 110],
    [110, 140.0, 90],
    [125, 150.0, 100],
]

df = pd.DataFrame(data=data, columns=columns)

df

    X₁, Mother SBP  X₂, Father SBP  Y, Child SBP
0            130.0           140.0          90.0
1            125.0           120.0          85.0
2            140.0           180.0         120.0
3            110.0           150.0         100.0
4            145.0           175.0         105.0
5            160.0           120.0         100.0
6            120.0           145.0         110.0
7            180.0           160.0         140.0
8            120.0           190.0         115.0
9            130.0           135.0         105.0
10           125.0           150.0         100.0
11           110.0           125.0          80.0
12            90.0           140.0          70.0
13           120.0           170.0         115.0
14           150.0           150.0          90.0
15           145.0           155.0          90.0
16           130.0           160.0         115.0
17           155.0           115.0         110.0
18           110.0           140.0          90.0
19           125.0           150.0         100.0

## A9.21

# Q9.22
In an assay of cod‐liver oil (test) against Vitamin D3 (standard), let:  
Y = Response  
P = Preparation (= 0 for standard, = 1 for test)  
X = log(dose)  
PX = X*P

(a) From the following results in `df`, is it reasonable to assume that the response is linearly related to log of the
dose, why or why not? (Hint: why does log scale have anything to do with
the product term?)

(b) From the following results in `df2`, is the strength of the test preparation stronger or weaker than the strength
of the standard preparation? Find a point estimate of the log relative
potency (call it M).

In [8]:
index = ['Intercept', 'X', 'P', 'PX']

columns = ['Regression Coefficient', 'Standard Error', 't Statistic', 'p Value']

data = [
    [24.1098, 3.6601, 6.59, '<0.0001'],
    [5.8398, 1.5663, 3.73, 0.0011],
    [-16.5821, 5.5459, -2.99, 0.0065],
    [1.2001, 1.8302, 0.66, 0.5185],
]

df = pd.DataFrame(data=data, index=index, columns=columns)
df.index = df.index.rename('Term')

df

           Regression Coefficient  Standard Error  t Statistic  p Value
Term
Intercept                 24.1098          3.6601         6.59  <0.0001
X                          5.8398          1.5663         3.73   0.0011
P                        -16.5821          5.5459        -2.99   0.0065
PX                         1.2001          1.8302         0.66   0.5185

In [9]:
index = ['Intercept', 'X', 'P']

columns = ['Regression Coefficient', 'Standard Error', 't Statistic', 'p Value']

data = [
    [22.0844, 1.9399, 11.38, '<0.0001'],
    [6.7188, 0.8005, 8.39, '<0.0001'],
    [-13.1556, 1.8347, 7.17, '<0.0001'],

]

df2 = pd.DataFrame(data=data, index=index, columns=columns)
df2.index = df2.index.rename('Term')

df2

           Regression Coefficient  Standard Error  t Statistic  p Value
Term
Intercept                 22.0844          1.9399        11.38  <0.0001
X                          6.7188          0.8005         8.39  <0.0001
P                        -13.1556          1.8347         7.17  <0.0001

## A9.22

# Q9.23
An investigator is interested to see to what extent height is genetically determined,
whether we could explain variation in heights of different people from the heights of their parents. Table E9.23 shows the height Y at age 18 for a
random sample of 20 males.

Factors considered are:  
$X_1$ = Length at birth,  
$X_2$ = Mother’s height when she was 18,  
$X_3$ = Father’s height when he was 18.

All heights and lengths are in inches.

(a) Can we decide if a man’s height and his length at birth are related? Calculate
the intercept and the slope of the simple linear regression of Y on $X_1$.

(b) Taken collectively, does the entire set of three independent variables $X_1$, $X_2$,
and $X_3$ contribute significantly to the prediction of the dependent variable Y?

(c) Which of the three factors ($X_1$ or $X_2$ or $X_3$) stands out as the most significant
factor in the prediction of a man’s height at age 18 over and above that
achieved by the other two factors?

(d) Does the addition of a man’s length at birth add significantly to the prediction
of his own height at age 18 over and above that achieved by the two genetic
factors (mother’s height when she was 18 and father’s height when he was 18)?

(e) Is it possible to conclude that mother’s height when she was 18 and father’s
height when he was 18 contribute equally to improving the prediction of a
man’s height at age 18 over and above that achieved by his length at birth?

In [10]:
columns = ['Y', 'X₁', 'X₂', 'X₃']

data = [
    [67.2, 19.7, 60.5, 70.3],
    [69.1, 19.6, 64.9, 70.4],
    [67.1, 19.4, 65.4, 65.8],
    [72.4, 19.4, 63.4, 71.9],
    [63.6, 19.7, 65.1, 65.1],
    [72.7, 19.6, 65.2, 71.1],
    [68.5, 19.8, 64.3, 69.7],
    [69.8, 19.7, 65.3, 68.8],
    [68.4, 19.7, 64.5, 68.7],
    [72.4, 19.9, 63.4, 70.3],
    [67.5, 21.9, 60.3, 70.4],
    [70.2, 20.3, 64.9, 68.8],
    [69.8, 19.7, 63.5, 70.3],
    [63.6, 19.9, 67.1, 65.5],
    [64.3, 19.6, 63.5, 65.2],
    [68.5, 21.3, 66.1, 65.4],
    [70.5, 20.1, 64.8, 70.2],
    [68.1, 20.2, 62.6, 68.6],
    [73.3, 20.8, 66.2, 70.3],
    [66.2, 19.3, 62.4, 67.5],
]

df = pd.DataFrame(data=data, columns=columns)

df

       Y    X₁    X₂    X₃
0   67.2  19.7  60.5  70.3
1   69.1  19.6  64.9  70.4
2   67.1  19.4  65.4  65.8
3   72.4  19.4  63.4  71.9
4   63.6  19.7  65.1  65.1
5   72.7  19.6  65.2  71.1
6   68.5  19.8  64.3  69.7
7   69.8  19.7  65.3  68.8
8   68.4  19.7  64.5  68.7
9   72.4  19.9  63.4  70.3
10  67.5  21.9  60.3  70.4
11  70.2  20.3  64.9  68.8
12  69.8  19.7  63.5  70.3
13  63.6  19.9  67.1  65.5
14  64.3  19.6  63.5  65.2
15  68.5  21.3  66.1  65.4
16  70.5  20.1  64.8  70.2
17  68.1  20.2  62.6  68.6
18  73.3  20.8  66.2  70.3
19  66.2  19.3  62.4  67.5

## A9.23